* {
    margin: 1% auto;
    line-height: inherit;
    box-sizing: border-box;
}

body {
    background-image: url(download.jpeg);
}

:root {
    --font-h1-h2: 'Playfair Display', serif;
    --font-text: 'Slabo 27px', serif;
    --text-color: #4e67eb;
    --text-color-h1: #201d89;
    --bcg-color: #f0f4ff;
    --bcg-modal: #ffffff;
}

/*------- Defining the house themes -------*/
[data-theme="Gryffindor"] {
    --bg-popup-color: #d0d3d9;
    --text-color: white;
    --house-crest: url(assets/gryffindor.png);
}

[data-theme="Hufflepuff"] {
    --bg-popup-color: #f28729;
    --text-color: white;
    --house-crest: url(assets/hufflepuff.png);
}

[data-theme="Ravenclaw"] {
    --bg-popup-color: #aeb5bf;
    --text-color: white;
    --house-crest: url(assets/ravenclaw.png);
}

[data-theme="Slytherin"] {
    --bg-popup-color: #f2ab27;
    --text-color: white;
    --house-crest: url(assets/slytherin.png);
}


/*-- modal ---*/
.modalito {
    display: none;
    position: fixed;
    z-index: 1400;
    top: 0vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

#displayOneStudent {
    display: flex;
    width: 80vw;
    min-height: 50vh;
    background-color: var(--bg-popup-color);
    border: var(--popup-border);
    color: var(--text-color);
    background-image: var(--house-crest);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 50vw;
    max-height: 20vh;
    font-size: 1.5rem;
}

#displayOneStudent img {
    width: 45%;
}

main {
    display: flex;
    flex-direction: column;
}

#top {
    background-color: var(--bcg-color);
    border-width: 2%;
    border-color: var(--text-color-h1);
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    grid-template-rows: 1fr 1fr;
    padding: 2.5%;
    margin: 5%;
    margin-top: 0%;
    padding-top: 0;
}

#top>h1 {
    color: var(--text-color-h1);
    align-self: center;
    margin-left: 15%;
}

#top>h2 {
    color: var(--text-color);
    align-self: center;
    vertical-align: middle;
    margin-left: 15%;
}

#top:hover {
    box-shadow: inset 0 0 0 5px var(--text-color);
}

#settings {
    display: inline;
    align-self: center;
    margin: 2%
}

.crest {
    width: 100%;
    align-self: center;
    grid-column: 3/5;
    grid-row: 1/3;
}

#contentlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 4vw;
    padding: 3vw;
}

#about {
    display: grid;
    flex-direction: column;
    margin-bottom: 15%;
    margin-left: 15%;
}

#housefilter {
    font: var(--font-h1-h2);
    color: var(--text-color-h1);
}

.title {
    margin-left: 5%;
    text-align: center;
    font-size: 200%;
}

.modalito {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

body>main>div.modalito>button {
    color: yellow;
    font-size: 2rem;
}

h1,
h2 {
    font-family: var(--font-h1-h2);
    color: var(--font-h1-h2);
    /* padding: 1vw; */
}

p,
label {
    font-family: var(--font-text);
    color: var(--font-text);
    margin: 5%;
}

button {
    color: var(--font-text);
    background-color: transparent;
    font-family: var(--font-text);
}

button:hover {
    box-shadow: rgb(193, 214, 98) 0.5vw 0.2vw 2.8vw;
}

#searchBar>input {
    border: 1px solid grey;
    border-radius: 20px;
    height: 30px;
    width: 50%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: var(--bcg-modal);
    color: var(--text-color-h1);
}

#searchBar:hover {
    box-shadow: rgb(193, 214, 98) 0.5vw 0.2vw 2.8vw;
}


.singleTemplate {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: 1vw;
    padding: 1vw;
    cursor: pointer;
    background-color: var(--bcg-color);
    width: 70%;
    box-shadow: rgb(24, 22, 32) 0.5vw 0.2vw 2.8vw;
}

.singleTemplate:hover {
    box-shadow: rgb(193, 214, 98) 0.5vw 0.2vw 2.8vw;
}

.singleTemplate img {
    /* margin: 3vw 0; */
    margin-bottom: 2vw;
}

.singleTemplate h2 {
    font-size: 2vw;
    color: var(--text-color-h1);
}

.singleTemplate p {
    font-size: 1vw;
    color: var(--text-color);
}


@media screen and (max-width: 780px) {
    main {
        display: flex;
        flex-direction: column;
    }

    #top {
        display: flex;
        flex-direction: column;
        text-align: justify;
        margin: 5%;
        padding: 5%;
    }

    #settings {
        align-self: center;
        align-content: center;
    }

    #contentlist {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 5vw;
        padding: 3vw;
    }
}